@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.bikeSale {
  background-color: white;
  height: 100%; }
  .bikeSale img {
    width: 100%;
    margin-top: 12px; }
  .bikeSale h3 {
    margin: 0 !important;
    padding: 0 !important; }
  .bikeSale .bikeSaleRight {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    margin-top: 5px; }
    .bikeSale .bikeSaleRight .fa-heart {
      color: rgba(255, 0, 0, 0.3); }
      .bikeSale .bikeSaleRight .fa-heart:hover {
        color: red; }
    .bikeSale .bikeSaleRight li:first-child {
      margin-bottom: 10px; }
  .bikeSale .bikeSaleLeft {
    margin-left: 0;
    padding-left: 0;
    margin-top: 5px; }
    .bikeSale .bikeSaleLeft li:first-child {
      margin-bottom: 10px; }
  .bikeSale li {
    list-style-type: none; }

.bicycle-single img {
  width: 100%; }
.bicycle-single .bicycle-picture {
  padding: 5px; }
.bicycle-single .bicycle {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px; }
  .bicycle-single .bicycle .details {
    margin-left: 0;
    padding-left: 0; }
    .bicycle-single .bicycle .details .property {
      font-size: 1em; }
    .bicycle-single .bicycle .details .property-value {
      font-size: 1.5em; }
    .bicycle-single .bicycle .details ul {
      padding-left: 0; }
    .bicycle-single .bicycle .details li {
      list-style-type: none; }
    .bicycle-single .bicycle .details .description {
      margin-top: 20px; }
      .bicycle-single .bicycle .details .description p {
        margin-top: -20px; }

.bicycle-recommended {
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px; }
  .bicycle-recommended .bicycles {
    margin-top: -10em; }
    .bicycle-recommended .bicycles .bikeSaleLeft {
      text-align: left; }
    .bicycle-recommended .bicycles .bikeSaleRight {
      float: right; }
    .bicycle-recommended .bicycles span {
      font-size: 1.6em; }
    .bicycle-recommended .bicycles h1 {
      margin-top: 3em;
      text-align: center; }

.filter-button {
  margin: 12px; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 5000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */ }
  .sidenav p {
    display: block;
    transition: 0.3s; }
  .sidenav a:hover, .sidenav .offcanvas a:focus {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

#slidecontainer {
  width: 80%;
  /* Width of the outside container */
  margin-left: 10%; }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }
  .slider ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }
  .slider ::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }

@keyframes bounce {
  0%, 40%, 85%, 100% {
    transform: translate(-50%, -50%); }
  20%, 60% {
    transform: translate(-50%, -70%); } }
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", sans-serif, 400; }

.content:not(.intro) {
  margin-top: 50px; }

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0; }
  .navbar .navbar-inverse .navbar-collapse, .navbar .navbar-inverse .navbar-inverse .navbar-form {
    border: 0;
    font-size: 4em; }
  .navbar .dropdown .open {
    border: 0; }
  .navbar .transparent .navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: transparent; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
  padding-top: 0;
  color: black; }

.navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand {
  color: black; }

.intro {
  margin: 0; }
  .intro .hero-image {
    margin-top: -50px;
    background-image: url("https://i.imgur.com/6UeT88z.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 0; }
    .intro .hero-image .title {
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .intro .hero-image .title h1 {
        font-family: "Pacifico", cursive;
        font-size: 7em;
        text-align: center;
        color: white; }
    .intro .hero-image .fa-chevron-double-down {
      color: white;
      margin: 0;
      position: absolute;
      top: 94%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .intro .hero-image .fa-chevron-double-down:hover {
        color: rgba(255, 255, 255, 0.9);
        animation: bounce 1s; }
    .intro .hero-image .buttons-hero-image {
      padding-top: 50vh; }
      .intro .hero-image .buttons-hero-image .btn {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        width: 150px; }
        .intro .hero-image .buttons-hero-image .btn:hover {
          background-color: rgba(255, 255, 255, 0.3); }
      .intro .hero-image .buttons-hero-image .left .btn {
        float: right; }
      .intro .hero-image .buttons-hero-image .right .btn {
        float: left; }

.bicycles h2 {
  margin-top: 2em;
  padding-top: 1em; }

.block.block-text {
  text-align: center;
  background-color: white;
  min-height: 20vh;
  padding-top: 5em;
  padding-bottom: 5em; }

.block.block-image {
  text-align: center;
  background-image: url("https://i.imgur.com/cBoQCCi.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh; }
  .block.block-image h1 {
    font-family: "Pacifico", cursive;
    color: white;
    padding-top: 5em; }

.fixed-me {
  transition: all 1s; }

.fixed-me {
  background-color: rgba(255, 255, 255, 0.4) !important;
  padding: 0px  !important;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  z-index: 888;
  width: 100%; }

.navbar-me {
  transition: all 1s; }

.navbar-me {
  background-color: transparent;
  top: 0px;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 50px; }

.navbar-collapse {
  text-align: center;
  border-top-width: 0px;
  padding-top: 10px;
  margin-top: 5px; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.menu-collapsed-button {
  margin: 20px 15px 10px 15px !important; }

.fixed-me {
  color: black; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: white;
  color: #000; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: black; }

.navbar-toggle.collapsed {
  background: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=main.css.map */
