.bikeSale{
    background-color: white;
    height: 100%;
    img{
        width: 100%;
        margin-top: 12px;
    }

    h3{
        margin: 0 !important;
        padding: 0 !important;
    }

    .bikeSaleRight{
        text-align: right;
        margin-right: 0;
        padding-right: 0;

        .fa-heart{
            color:rgba(255,0,0,.3);
            
        }

        .fa-heart:hover{
            color:red;
        }
    }

    li {
        list-style-type: none;
    }


}

.bikeSaleLeft{
    margin-left: 0;
    padding-left: 0;
}