.bikeSale{
    background-color: white;
    height: 100%;
    img{
        width: 100%;
        margin-top: 12px;
    }

    h3{
        margin: 0 !important;
        padding: 0 !important;
    }

    .bikeSaleRight{
        text-align: right;
        margin-right: 0;
        padding-right: 0;
        margin-top: 5px;

        .fa-heart{
            color:rgba(255,0,0,.3);
            
        }

        .fa-heart:hover{
            color:red;
        }

        li:first-child{
            margin-bottom: 10px;
        }
    }

    .bikeSaleLeft{
        margin-left: 0;
        padding-left: 0;
        margin-top: 5px;

        li:first-child{
            margin-bottom: 10px;
        }
    }
    li {
        list-style-type: none;
    }
}

.bicycles{
    margin-top: 50px;
}