// .footer{
//     // width: 100%;
//     background-color: navy;
//     // background-image: url("https://i.imgur.com/RZ3tE7K.jpg");
//     background-size: 100%;
//     background-position: center 50%;
//     background-repeat: no-repeat;
//     color: white;
//     margin-top: 4em;
//     margin-bottom: 0;
//     bottom: 0;
//     overflow: hidden;
//     // border-top: 1em solid white;
    
//     .container{
//         background-color: rgba($color: rgb(53, 53, 156), $alpha: .3);
//         margin: 1.5em;
//         border: white solid 4px;
//         margin-left:auto;
//         margin-right: auto;
//         padding: 1em;
//     }

//     .input-group{
//         max-width: 300px;
//     }

//     .contact{
//         text-align: right;
//         h3{
//             margin-top: 0;
//         }
//         ul{
//         list-style: none;
//         padding-left: 0;
//         }
//     }
// }

// footer zoals webdev
.footer {
    background-color: #000;
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 1.2em; }
    .footer a {
      color: white; }
    .footer .col-social li {
      list-style: none;
      padding: .5em;
      text-align: right; }
    .footer .footer-logo {
      font-size: 1.5em; }
      .footer .footer-logo a:hover {
        text-decoration: none; }
    .footer .row.row-small {
      padding-top: 4em;
      font-size: .6em; }
      .footer .row.row-small a {
        color: #777777; }
    .footer .nav-title {
  color: #777777; }