.footer{
    width: 100%;
    background-color: navy;
    background-image: url("https://i.imgur.com/RZ3tE7K.jpg");
    background-size: 100%;
    background-position: center 50%;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    // border-top: 1em solid white;
    
    .container{
        background-color: rgba($color: rgb(53, 53, 156), $alpha: .3);
        margin: 1.5em;
        width: 94%;
        border: white solid 4px;
        margin-left:auto;
        margin-right: auto;
        padding: 1em;
    }

    .input-group{
        max-width: 300px;
    }

    .contact{
        text-align: right;
        h3{
            margin-top: 0;
        }
        ul{
        list-style: none;
        padding-left: 0;
        }
    }
}