.footer-logo{
  font-family: $font-hero;
}
.footer {

    background-color: #000;
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 1.2em;
    .contact{
      font-size: 1em;
      color: white;
    }
  }
    .footer a {
      color: white; }
    .footer .col-social li {
      list-style: none;
      padding: .5em;
      text-align: right; }
    .footer .footer-logo {
      font-size: 1.5em; }
      .footer .footer-logo a:hover {
        text-decoration: none; }
    .footer .row.row-small {
      padding-top: 4em;
      font-size: .6em; }
      .footer .row.row-small a {
        color: #777777; }


.footer .nav-title {
  color: #777777; }