@import 'bikes','fonts';

@keyframes bounce {
	0%, 40%, 85%, 100% {
        transform: translate(-50%, -50%);
	}
	20%, 60% {
        transform: translate(-50%, -70%);
    }
}


h1,h2,h3,h4,h5,h6,p,a {
    font-family: $font-main;
}

.content:not( .intro ){
    margin-top: 50px;
}


.navbar{
    background-color: rgba($color:#ffffff, $alpha: .8);
    border: 0;
    .navbar-inverse{
        .navbar-collapse, .navbar-inverse .navbar-form{
            border: 0;
            font-size: 4em;
        }
    }
    .dropdown .open{
        border: 0;
    }
    .transparent .navbar-inverse .navbar-inner {
        border-width: 0px;
        -webkit-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text{
    padding-top: 0;
    color:black;
}

.navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand{
    color:black;
}

.intro {
    margin:0;
    .hero-image{
        margin-top: -50px;
        background-image: url("https://i.imgur.com/6UeT88z.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 0;
        .title{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1{ 
                font-family: $font-hero;
                font-size: 7em;
                text-align: center;
                color: white;
                // position: fixed;
            }
        }
        .fa-chevron-double-down{
            color: white;
            margin: 0;
            position: absolute;
            top: 94%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover{
                color:rgba($color:#ffffff, $alpha: .9);
                animation: bounce 1s ;
            }
        }
        .buttons-hero-image{
            padding-top: 50vh;
            .btn{
                background-color: transparent;
                border: 1px solid white;
                color: white;
                width: 150px;

                &:hover{
                    background-color: rgba($color:#ffffff, $alpha: .3);

                }
            }
            .left{
                .btn{
                    float:right;
                }
            }
            .right .btn{
                float: left;
            }
        }

    }
}

.bicycles h2{
    margin-top: 2em;
    padding-top: 1em;
}

.block.block-text{
        text-align: center;
        // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png");
        background-color: white;
        min-height: 20vh;
        padding-top: 5em;
        padding-bottom: 5em;
    }

.block.block-image{
    text-align: center;
    background-image: url("https://i.imgur.com/cBoQCCi.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    h1{
        font-family: $font-hero;
        color: white;
        padding-top: 5em;
    }    
}
.navbar-inverse .navbar-collapse{
}

.fixed-me{
    transition: all 1s ;
}

.fixed-me{
    background-color:rgba($color:#ffffff, $alpha: .4) !important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
	z-index:888;
    width: 100%;
}

.navbar-me {
    
   transition: all 1s ;
}
.navbar-me{
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 50px;
}
.navbar-collapse{
    text-align: center;
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}

.navbar-inverse .navbar-toggle{
    // background-color: black;
}

.fixed-me{
    color: black;
}




// w3schools sidenav
/* The side navigation menu */
.sidenav {
    // margin-left: 12px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(240, 240, 240); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    /* The navigation menu links */
    p {
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

#slidecontainer {
    width: 80%; /* Width of the outside container */
    margin-left: 10%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    ::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #4CAF50;
        cursor: pointer;
    }

    ::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
}