@import 'bikes';

$font-main: Helvetica, sans-serif;

body {
    font-family: $font-main;
}

.navbar{

    background-color: transparent;
    a{
    color:white;
    }
}

.intro {
    margin:0;
    .hero-image{
        background-image: url("https://i.imgur.com/6UeT88z.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;
        padding-top: 0;
        h1{ 
            font-family: $font-main;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
        .fa-chevron-double-down{
            color: white;
            margin: 0;
            position: absolute;
            top: 94%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover{
                color: black;
            }
        }
    }
}