@import 'bikes','fonts','footer','homepage';

@keyframes bounce {
	0%, 40%, 85%, 100% {
        transform: translate(-50%, -50%);
	}
	20%, 60% {
        transform: translate(-50%, -70%);
    }
}


h1,h2,h3,h4,h5,h6,p,a {
    font-family: $font-main;
}

#app{
    margin-top: 50px;
}

.homepage .intro .hero-image{
    margin-top: -50px;
}

.navbar{
    background-color: rgba($color:#ffffff, $alpha: .8);
    border: 0;
    .navbar-inverse{
        .navbar-collapse, .navbar-inverse .navbar-form{
            border: 0;
            font-size: 4em;
        }
    }
    .dropdown .open{
        border: 0;
    }
    .fa-shopping-cart{
        color: black;
    }
    .transparent .navbar-inverse .navbar-inner {
        border-width: 0px;
        -webkit-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text{
    padding-top: 0;
    color:black;
}

.navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand{
    color:black;
}

.intro {
    margin:0;
    .hero-image{
        background-image: url("https://i.imgur.com/6UeT88z.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 0;
        .title{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1{ 
                font-family: $font-hero;
                font-size: 7em;
                text-align: center;
                color: white;
                // position: fixed;
            }
        }
        .fa-chevron-double-down{
            color: white;
            margin: 0;
            position: absolute;
            top: 94%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover{
                color:rgba($color:#ffffff, $alpha: .9);
                animation: bounce 1s ;
            }
        }
        .buttons-hero-image{
            padding-top: 50vh;
            .btn{
                background-color: transparent;
                border: 1px solid white;
                color: white;
                width: 150px;

                &:hover{
                    background-color: rgba($color:#ffffff, $alpha: .3);

                }
            }
            .left{
                .btn{
                    float:right;
                }
            }
            .right .btn{
                float: left;
            }
        }

    }
}

.bicycles h2{
    margin-top: 2em;
    padding-top: 1em;
}

.block.block-text{
        text-align: center;
        // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png");
        background-color: white;
        min-height: 20vh;
        padding-top: 5em;
        padding-bottom: 5em;
    }

.block.block-image{
    text-align: center;
    background-image: url("https://i.imgur.com/cBoQCCi.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    h1{
        font-family: $font-hero;
        color: white;
        padding-top: 5em;
    }    
}

.fixed-me{
    transition: all 1s ;
}

.fixed-me{
    background-color:rgba($color:#ffffff, $alpha: .4) !important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
	z-index:888;
    width: 100%;
    color: black;
}

.navbar-me {
    
   transition: all 1s ;
}
.navbar-me{
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 50px;
}
.navbar-collapse{
    text-align: center;
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: white;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    color: black;
}

.navbar-toggle.collapsed {
    background: rgba($color:#000000, $alpha: .6);
}

#mySidenav{
    // width: 300px;
    background-color: rgb(64, 64, 112);
    color: white;
    form{
        margin: 1em;
        .radio-button{
            white-space: nowrap;
            margin-left: 1em;
        }
        .radio-button.first{
            margin-left: 0;
        }
        button.btn{    
            margin-top: 1em;
            width: 100%;
        }
        .fa-star{
            color: rgba($color: #e9e51e, $alpha: 1)
        }
    }
}